h1{
    padding-top: 110px;
    text-align: center
}

.canva{
    text-align: center;
    justify-content: center;
}
    

.button1{
    height: 100px;
    width: 100px;
    border:3px solid black;
    margin: 10px;
    border-radius:50%;
    cursor: pointer;
}

#grey{
    background-color:grey;
}
#yellow{
    background-color:yellow;
}
#pink{
    background-color:pink;
}
#purple{background-color: purple;}