body{
    background-color: gray;
}

/* h1{
    text-align: center;
    Color:rgb(242, 10, 49);
}

p{
    font-size:13px;
    text-align: center;
}
.btn{
    text-align: center;
}

h3{
    text-align: center;

} */

.container{
    text-align: center;
    padding-top: 160px;
    border: 2px solid black;
    
}

.btn{
    padding: 14px 20px;
}
